* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    height: 100vh;
    background-image: url("https://wallpapers.com/images/featured/moda-en-blanco-y-negro-gdg08311f31doqos.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    display: flex;
    justify-content: center;
    align-items: center;
}

body::before {
    content: "";
    position: fixed;
    inset: 0;
    background: rgba(0,0,0,0.6);
    z-index: -1;
}

.login-container {
    background: rgba(0,0,0,0.10);
    padding: 45px;
    width: 340px;
    border-radius: 14px;
    box-shadow: 0 0 40px rgba(0,0,0,0.9);
    text-align: center;
}

.login-container h2 {
    color: white;
    margin-bottom: 30px;
    letter-spacing: 4px;
}

.login-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 14px;
}

.login-form input {
    width: 100%;
    padding: 13px;
    border: none;
    border-radius: 6px;
    outline: none;
    font-size: 14px;
}

.login-form button {
    width: 100%;
    padding: 13px;
    border: none;
    border-radius: 6px;
    background: #c59d5f;
    color: black;
    font-weight: bold;
    letter-spacing: 2px;
    cursor: pointer;
    transition: background 0.3s;
}

.login-form button:hover {
    background: #e0b873;
}


.register-form {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 14px;
}

.register-form button {
    width: 100%;
    padding: 13px;
    border: none;
    border-radius: 6px;
    background: #c59d5f;
    color: black;
    font-weight: bold;
    letter-spacing: 2px;
    cursor: pointer;
    transition: background 0.3s;
}

.register-form button:hover {
    background: #e0b873;
}

#Crear {
    color: white;
    margin-top: 15px;
    margin-bottom: -10px;
    cursor: default;
}